

<div class="container" fxLayout="row wrap"  fxLayoutAlign="flex-start">
  <div fxFlex="25%" *ngFor="let service of servicesList">
    <mat-card class="company-card" >
      <mat-card-title class="card-title">
        <img src="{{service.logoUrl}}" alt="" class="company-logo">
      </mat-card-title>


      <mat-card-content class="card-content">
        <div>
          <h2> {{service.name}}</h2>
          <p style="color: #c5c5c5;">{{service.type}}</p>


          <button mat-raised-button type="button"
                  [routerLink]="[service.id, 'payments']"
                  class="view-me-button">Προβολή</button>

          <mat-card-actions style="text-align: right; margin-top: 30px">
            <button mat-mini-fab color="primary" style="margin-right: 10px;"
                    title="Επεξεργασία"
                    [routerLink]="['/company/edit/', service.id]">Ε
              </button>

            <button mat-mini-fab (click)="onDelete(service.id)" color="warn" title="Διαγραφή">D</button>
          </mat-card-actions>
        </div>

        <mat-card-footer>
        </mat-card-footer>

      </mat-card-content>
    </mat-card>

  </div>
    <div class="" >

  </div>
</div>



<div class="plus-button">
  <button mat-fab routerLink="/company/create">Add</button>
</div>


